.blur,
.blur__enabled {
    position: fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(30px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.blur__enabled {
    opacity: 1;
}