.characters-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(0deg,
      rgb(60, 0, 0) 0%,
      var(--tertiary-color) 100%);
}

.characters-section__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  gap: 30px;
  /* overflow: hidden; */
}

.characters-section__search-bar {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}