*,
*::before,
*::after {
  --primary-color: hsl(193, 52%, 55%);
  --secondary-color: hsl(68, 59%, 65%);

  font-family: 'RickAndMorty';
  user-select: none;
}

body {
  margin: 0;
}

body::-webkit-scrollbar {
  /* display: none; */
}

@font-face {
  font-family: 'RickAndMorty';
  src: url(../assets/get_schwifty.ttf);
}