.navbar {
    position: fixed;
    display: flex;
    top: 30px;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 50px;
    justify-content: flex-end;
    justify-content: space-between;
}

.navbar__portals {
    display: flex;
    gap: 80px;
}