.portal,
.portal__raw,
.portal__raw__clicked {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.47, 1.64, .41, .8) 0.1s;
}

.portal {
    transition: scale 0.4s cubic-bezier(.47, 1.64, .41, .8);
}

.portal:hover {
    scale: 1.1;
}

.portal__raw__clicked {
    scale: 0;
    opacity: 0;
}

.portal__glow {
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    box-shadow: 0 0 60px 10px lime;
}

.portal__image {
    width: 180px;
    z-index: 1;
}

.portal__text,
.portal__text-clicked {
    position: absolute;
    z-index: 1;
    color: var(--primary-color);
    font-size: 2.8rem;
    text-shadow: 3px 3px 1px black;
    transition: all 0.2s cubic-bezier(.47, 1.64, .41, .8);
}

.portal__text-clicked {
    scale: 0;
    opacity: 0;
}