.primary-section {
  width: 100%;
  height: 100vh;
}

.primary-section__image,
.primary-section__footer,
.primary-section__cover {
  position: absolute;
  width: 100%;
  height: 100%;
}

.primary-section__image {
  background-size: cover;
  box-sizing: border-box;
  border-top: 10px solid turquoise;
  border-inline: 10px solid turquoise;
}

.primary-section__footer {
  background: radial-gradient(hsl(174, 72%, 56%, 0.6) 40%, turquoise 70%);
  mask: url(../assets/footer.svg) no-repeat center;
  mask-size: cover;
}

.primary-section__cover {
  position: fixed;
  background: radial-gradient(ellipse at 12% -15%, rgba(13, 225, 126, 0.5) 10%, rgb(0, 0, 0, .8) 40%);
}