.primary-section {
  width: 100%;
  height: 100vh;
}

.primary-section__image,
.primary-section__image::before,
.primary-section__footer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.primary-section__image {
  background-size: cover;
  box-sizing: border-box;
  border: 10px solid;
  border-bottom: none;
  border-image-source: radial-gradient(ellipse at 20% 5%,
      var(--quaternary-color) 20%,
      var(--tertiary-color) 35%);
  border-image-slice: 1;
}

.primary-section__image::before {
  content: '';
  background: rgba(0, 0, 0, 0.6);
}

.primary-section__footer {
  background: radial-gradient(hsl(170, 60%, 10%, 0.5) 30%,
      var(--tertiary-color) 70%);
  mask: url(../assets/footer.svg) no-repeat center;
  /* TODO: Use clip-path instead*/
  mask-size: cover;
}