.section-scroller {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 25px;
    right: 25px;
}

.section-scroller div {
    display: flex;
    justify-content: space-between;
}

.section-scroller button {
    display: flex;
    margin-block: 5px;
    padding: 7px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 3px var(--secondary-color);
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: scale 0.4s cubic-bezier(.47, 1.64, .41, .8),
        opacity 0.2s ease-in-out;
}

.section-scroller button:hover,
.section-scroller button:focus-visible {
    scale: 1.1;
}

.section-scroller button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    scale: 1;
}

.section-scroller button svg {
    fill: var(--primary-color);
    filter: drop-shadow(0 0 5px var(--primary-color));
}

.section-scroller progress {
    width: 130px;
}