.title {
  display: inline-block;
  border-radius: 20px;
  cursor: pointer;
  transition: scale 0.4s cubic-bezier(.47, 1.64, .41, .8);
}

.title:hover,
.title:focus-visible {
  scale: 1.1;
}

.title__image {
  width: 600px;
}